.wishlist{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wishlistIcon{
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 2px 4px var(--primaryT);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loveIcon{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: none;
    
}
.loveIcon.active{
    filter: invert(49%) sepia(82%) saturate(2083%) hue-rotate(328deg) brightness(101%) contrast(101%);

}
.wishlist:hover{
    transform: scale(1.15);
}