.Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* div{
    border: solid black 2px;
} */

.ContainerHeader{
    width: 1165px;
    margin: 20px 0;   
}