/* div{
    border: solid black 2px;
} */

.pageContainer{
    margin-top: 100px;
    display: flex;
    padding: 0 0 20px 0;
    width: 100%;
}

.leftContainer{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: solid var(--primaryT) 2px;
    padding: 15px 0 20px 0;
}

.profilePicture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
}

.profilePicture img{
    border-radius: 100%;
    width: 225px;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.changePicture{
    margin-top: 10px;
}

.profilePicture a{
    font-size: 21pt;
    font-weight: bold;
    color: var(--primary);
}
.profilePicture a:hover{
    opacity: 0.7;
}


.deleteAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    font-size: larger;
    font-weight: bold;
    color: white;
    width: 210px;
    padding: 15px 5px 15px 5px;
    border-radius: 7px;
}
.deleteAccount:hover{
    background-color: rgb(118, 0, 0);
    transition: all 0.2s ease-in-out;
}

.deleteButton2{
    display: none;
}

.rightContainer{
    flex: 6.5;
    padding: 20px 0 15px 7%;
    border-left: solid var(--primaryT) 1px;
    font-size: 21pt;
}
.rightContainer span{
    font-weight: bolder;
}
.rightContainer a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: var(--primary);
    margin-left: 20px;
}
.rightContainer a:hover{
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.username{
    padding-bottom: 10px;
}
.usernameHeader{
    display: flex;
    align-items: center;
}

.email{
    padding: 10px 0 10px 0;
}
.emailHeader{
    display: flex;
    align-items: center;
}

.balance{
    padding: 10px 0 10px 0;
}
.balanceHeader{
    display: flex;
}
.topUpButton{
    background-color: var(--blue);
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    color: white;
    font-size: medium;
}

.changePassword{
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-radius: 7px;
}

.buttons a:hover{
    opacity: 1;
}
.changePassword:hover{
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: var(--primaryD)
}


/* -------------------------------------- */
.popUpBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.41);
}
.popUpContainer{
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    box-shadow: 1px 1px 5px 4px var(--primaryT);
    border-radius: 15px;
    width: 60%;
    height: 80%;
    position: fixed;
    background: white;
}
.popUpTitle{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 15px 0;
}
.Title{
    font-size: 36pt;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
}
.Close{
    height: 55px;
    font-size: 45pt;
    cursor: pointer;
    font-weight: 100;
    margin-top: -50px;
    transition: all 0.3s ease;
}
.Close:hover{
    opacity: 0.5;
}
.popUpContent{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.inputBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 7%;
    flex-direction: column;
    align-items: center;
}

.inputBox input{
    width: 90%;
    height: 70px;
    font-size: xx-large;
    border: solid var(--primary) 1px;
    outline: none;
    padding: 10px;
    margin: 20px 0 20px 0;
}

.inputButton{
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-radius: 7px;
}
.delete{
    background-color: var(--red);
}
.inputButton:hover{
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: var(--primaryD);
}
.delete:hover{
    background-color: rgb(118, 0, 0);
    transition: all 0.2s ease-in-out;
}

.contentInfo{
    font-size: 19pt;
    padding: 15px;
    width: 80%;
    text-align: center;
}

.contentWarning{
    font-size: 19pt;
    width: 80%;
    text-align: center;
    color: var(--red);
}


@media screen  and (max-width: 545px){

.pageContainer{
    flex-direction: column;
    height: 100%;
    padding: 0 5px 0 5px;
    margin-top: 80px;
}

.leftContainer{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: none;
    border-bottom: solid var(--primaryT) 1px;
    padding: 15px 0 10px 5px;
}
.leftContainer a{
    font-size: large;
}

.profilePicture{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.deleteButton1{
    display: none;
}

.profilePicture img{
    width: 100px;
    margin-bottom: 0;
    padding: 0;
}

.rightContainer{
    flex: 6.5;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
    border-left: none;
    border-top: solid var(--primaryT) 1px;
    font-size: large;
    align-items: center;
}
.rightContainer a{
    font-size: small;
    margin-left: 10px;
}
.topUpButton{
    font-size: smaller;
    padding: 3px 5px 3px 5px;
}

.username{
    width: 90%;
    padding: 0 0 5px 0;
}
.email{
    width: 90%;
    padding: 5px 0 5px 0;
}
.balance{
    width: 90%;
    padding: 5px 0 10px 0;
}

.changePassword{
    width: 100%;
    padding: 5px 4px 5px 4px;
    font-size: 11pt;
    font-weight: 600;
}
.deleteButton2{
    display: inline-block;
}
.deleteButton2 a{
    margin: 0;
}
.deleteAccount{
    width: 100%;
    padding: 5px 4px 5px 4px;
    font-size: 11pt;
    font-weight: 600;
}
.buttons a{
    padding: 0;
    margin: 0;
}
.buttons{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
}

}

@media screen  and (max-width: 860px){

.popUpContainer{
    width: 80%;
    height: auto;
    padding: 10px;
    font-size: x-large;
}

.popUpTitle{
    margin: 0 0 7px 0;
}

.Title{
    font-size: x-large;
}

.Close{
    font-size: xx-large;
    margin: -30px 0;
}

.contentInfo{
    font-size: medium;
    padding: 5px;
}
.contentWarning{
    font-size: medium;
}

.inputBox input{
    height: 30px;
    font-size: medium;
    margin: 7.5px 0 7.5px 0;
}

.inputButton{
    font-size: medium;
    width: 125px;
    padding: 5px 4px 5px 4px;

}

}