.HistoryProductContainer_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0;
}


.HistoryProductContainer_list .Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding:5px 10px;
    box-shadow: 1px 1px 5px 4px var(--primaryT);
    border-radius: 5px;
    width: 80%;
}

.Container_Content{
    display: flex;
    flex: 5;
    justify-content: space-between;
}

.Container_img{
    margin: 0 5px;
    flex: 1;
}

.Container_img img{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 165px;
    height: auto;
}


.Container_header{
    flex: 4;
    padding-top: 10px;
}

.detail_header{
    margin-bottom: 5px;
    font-size: large;
}
.header_price{
    font-size: small;
}
.header_date{
    font-size: small;
}

.seeDetail{
    font-weight: bold;
}

.seeDetail a{
    text-decoration: none;
    color: var(--primary);
    transition: all 0.3s ease;
}

.seeDetail a:hover{
    color: var(--secondary);
}

.total_price{
    margin: 25px 0 10px 0;
    font-size: large;
    font-weight: bolder;
}

.Container_Status{
    display: flex;
    flex: 1;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 20px 10px;
}


.statusOnProcess{
    width: 110px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: -1px 2px 5px 3px var(--gray);
    background-color: var(--grayLight);
}

.statusCompleted{
    color: white;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: -1px 2px 5px 5px var(--primaryT);
    background-color: var(--primary);
    transition: all 0.3s ease;
}

.statusCompleted:hover{
    background-color: var(--secondary);
}

/* div{
    border: solid black 1px;
} */

@media screen  and (max-width: 600px){

    .HistoryProductContainer_list .Container{
        flex-direction: column;
        margin: 10px;
        padding:5px 10px;
        box-shadow: 1px 1px 5px 4px var(--primaryT);
        border-radius: 5px;
        width: 80%;
    }

    .Container_Content{
        width: 100%;
    }

    .Container_img img{
        padding: 10px;
        width: 140px;
        height: auto;
    }
    

    .detail_header{
        margin-bottom: 5px;
        font-size: medium;
    }
    .header_price{
        font-size: x-small;
    }
    .header_date{
        font-size: x-small;
    }

    .seeDetail{
        font-size: small;
    }

    .Container_header{
        flex: 4;
        padding-top: 10px;
    }

    .total_price{
        margin: 10px 0 5px 0;
        font-size: medium;
        font-weight: bold;
    }

    .Container_Status{
        align-self: flex-end;
    }

}
