.HistoryProductContainer_list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}


.HistoryProductContainer_list .Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding:5px 10px;
    box-shadow: 1px 1px 5px 4px var(--primaryT);
    border-radius: 5px;
    width: 1175px;
}


.Container_img{
    margin: 0 5px;
    flex: 1;
}

.Container_img img{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 165px;
    height: auto;
}

.Container_header{
    flex: 1;
    padding-top: 10px;
    
}

.detail_header{
    margin-bottom: 5px;
    font-size: large;
}
.header_price{
    font-size: small;
}
.header_date{
    font-size: small;
}

.seeDetail{
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

.seeDetail p:hover{
    color: var(--secondary);
}

.total_price{
    margin: 25px 0 10px 0;
    font-size: large;
    font-weight: bolder;
}

.Container_Status{
    display: flex;
    flex: 4;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 20px 10px;
}


.statusOnProcess{
    width: 110px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: -1px 2px 5px 3px var(--gray);
    background-color: var(--grayLight);
}

.statusCompleted{
    color: white;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: -1px 2px 5px 5px var(--primaryT);
    background-color: var(--primary);
}

.statusCompleted:hover{
    background-color: var(--secondary);
}